$shipYellow: #F0FF47;
$shipBlue: #B9B2FF;
$shipRed: #FF6666;
$shipWhite: #eee;

$wood: #FFF0B6;
$gems: #AD0000;
$cloth: #610BA1;
$stone: #CFCFCF;
$metals: #878787;
$market: #FF8C00;
$temple: #BAC6FF;

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin bkgd-rotate($deg) {
  -moz-transform: rotate($deg) ;
  -webkit-transform: rotate($deg) ;
          transform: rotate($deg) ;
}

.container {
  width: 606px;
  height: 606px;
  padding: 0px;
  margin: 0px;
}

.tile {
  float:left;
  padding: 0px;
  margin: 0px;


  &.half {
    width: 100px;
    height: 200px;
  }

  &.full {

    width: 200px;
    height: 200px;
    border:1px #000 solid;
    background-color: #00FF96;
    background-image: url(../images/ocean.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: 200px;           /* Safari 3.0 */
     -moz-background-size: 200px;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 200px;           /* Opera 9.5 */
          background-size: 200px;

    @for $i from 1 through 7 {
      &.tile#{$i} { 
        background-color: #00FF96;
        background-image: url(../images/tile#{$i}.jpg);
        background-repeat: no-repeat;
        background-size: 200px;
      }
    }

    .ship_layer {
      display: none;
      width: 200px;
      min-height: 200px;
      border: 0px;
      z-index: 100;
      margin: 0 auto;
      top: 50%;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      position: relative;

      .blue {
        background: $shipBlue;
      }
      .red {
        background: $shipRed;
      }
      .yellow {
        background: $shipYellow;
      }
      .white {
        background: $shipWhite;
      }
    }
  }

  .label {
    margin: 0 auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    width: 90px;
    height: 90px;
    border: 2px #000 solid;
    padding: 30px 0px;
    -moz-border-radius: 52px; -webkit-border-radius: 52px; border-radius: 52px;
    font-size: 20px;
    text-align: center;

    &.wood {
      background: $wood;
    }
    &.gems {
      background: $gems;
      color: #fff;
    }
    &.stone {
      background: $stone;
    }
    &.cloth {
      background: $cloth;
      color: #fff;
    }
    &.metals {
      background: $metals;
    }
    &.temple {
      background: $temple;
    }
    &.market {
      background: $market;
    }
  }

}



.available {
  background: #ccc;
  filter: alpha(opacity=50);-khtml-opacity: .5;-moz-opacity: .5;opacity: .5;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.current {
  background: #00FF96 !important;
  filter: alpha(opacity=90);-khtml-opacity: .9;-moz-opacity: .9;opacity: .9;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; 
}

.no-barrier {
  border: 2px #000 solid;
}



.barrier {
  position: absolute;
  width:200px;
  height:20px;
  background: #47004A;
  display: none;

  &.block {
    display:block !important;
  }
  &#side1 {
    top: 98px;
    left:208px;
    @include bkgd-rotate(90deg);
  }
  &#side2 {
    top: 198px;
    left: 108px;
    width: 100px;
  }
  &#side3 {
    top: 198px;
    left: 208px;
    width: 100px;
  }
  &#side4 {
    top: 198px;
    left: 308px;
    width: 100px;
  }
  &#side5 {
    top: 198px;
    left: 408px;
    width: 100px;
  }
  &#side6 {
    top: 298px;
    left: 108px;
    width: 200px;
    @include bkgd-rotate(90deg);
  }
  &#side7 {
    top: 298px;
    left: 308px;
    width: 200px;
    @include bkgd-rotate(90deg);
  }
  &#side8 {
    top: 398px;
    left: 108px;
    width: 100px;
  }
  &#side9 {
    top: 398px;
    left: 208px;
    width: 100px;
  }
  &#side10 {
    top: 398px;
    left: 308px;
    width: 100px;
  }
  &#side11 {
    top: 398px;
    left: 408px;
    width: 100px;
  }
  &#side12 {
    top: 498px;
    left: 208px;
    width: 200px;
    @include bkgd-rotate(90deg);
  }
}


